body {
    text-align: center;
}
.modal-background {
    display:none;
    position: fixed;
    z-index: 1;
}
.modal-content {
    background: white;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 1200px;
    height: 1200px;
  }
  #modal-title {
    text-align: center;
    color: blue;
  }
  .modalBtn {
    height: 20px;
    width:60
  }