body {
    text-align: center;
}
canvas {
  position: relative;
}
.modal-background {
    display:none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.modal-content {
    background: white;
    align-content: center;
    width: 100%;
    height: 100%;
  }
  #modal-title {
    margin: 0;
    padding: 50px;
    font: 100px arial;
    text-align: center;
    color: blue;
  }
  .modalBtn {
    height: 80px;
    width: 140px;
    font: 20px arial;
  }